body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.c-header{
    background: rgb(193,207,255);
    background: linear-gradient(90deg, rgba(193,207,255,1) 50%, rgba(164,184,254,1) 100%);
    padding: 2rem 2rem;
    text-align: center;
    color: #ffffff;
    margin: 0;
}
.c-main{
    display: flex;
}
.c-main  ul{
    padding: 4rem;
    list-style-type: none;
}
.labo{
    margin: 2rem;
    padding: 2rem;
}
.fixed-links{

}