body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #F0EDEE;
}

.aboutme{
    margin: 2em 20em;
    padding: 1em 1.5em;
    display: flex;
    background-color: white;
    flex-wrap: wrap;
}

.about-picture{
    width: 20%;
    border-radius: 2px;
    margin: 0 auto;
}
.info-item{
    padding: 2em 2em;
    background-color: #2d2d2d;
    color: #E0DDCF;
    border-radius: 5px;
    margin: 2em;
    font-weight: 600;
    font-size: 0.90em;
    & strong{
        color: #969595;
        font-size: 1em;
        font-weight: 600;
        font-variant: small-caps;
        border-bottom: 1px solid #E0DDCF;
    }
    & a{
        color: white;
        text-decoration: none;
    }
}

.c-navigation{
    display: flex;
    list-style-type: none;
    background-color: #E0DDCF;
    padding: 16px 0;
    margin : 0;
    & li{
        margin: 0 auto;
        & a{
            text-decoration: none;
            font-size: 1.5em;
            font-weight: 700;
            color:#2D232E ;
            &:hover{
                background-color:#474448 ;
                color:#F1F0EA ;
                font-weight: 600;
                padding: 8px;
                border-radius: 2px;
            }
        }
    }
}

.header-banner{
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    margin:0;
    background-image: url("../images/timothy-eberly-yuiJO6bvHi4-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto ;
    color: #F0EDEE;
    text-align: center;
    padding: 3em 0;
    & h1{
        margin: 0;
    }
    & h2{
        color: #E0DDCF;
        font-variant: all-small-caps;
        font-size: 1em;
        margin:0;
    }
}