body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #F0EDEE;
}

article{
    margin: 2em 2em;
    padding: 2em 2em;
    background-color: white;
    border-radius: 8px;
    & h2{
        text-align: center;
    }
    & p{
        text-align: center;
        padding-bottom: 0.8em;
        & a{
            text-decoration: none;
            background-color: #8D99AE;
            color: #F0EDEE;
            font-weight: 700;
            padding: 0.8em;
            border-radius: 20px;
            &:hover{
                color: #444444;
            }
        }
    }
}

.likes{
    margin: 0 auto;
    & h2{
        font-family: 'Inter', sans-serif;
        font-size: 2em;
        text-align: center;
        margin: 0 auto;
        padding: 1em;
        background-color: #8D99AE;
        color: white;
    }
    & article{
        text-align: center;
        & > img{
            border-radius: 12px;
        }
        & > a{
            text-decoration: none;
            color: white;
            background-color: #8D99AE;
            font-weight: 700;
            padding: 1em;
            margin: 1em;
            border-radius: 2px;
            &:hover{
                color: #2d2d2d;
            }
        }
        & > .imdb{
            background-color: #F5C518;
            color: black;
        }
        & > .youtube {
            background-color: #FF0000;
            color: white;
        }
    }
}

footer{
    padding: 8px 0;
    color: #E0DDCF;
    background-color: black;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#aboutme{
    margin: 2em 2em;
    padding: 1em 1.5em;
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
}

.about-picture{
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
}
.info-item{
    padding: 2em 2em;
    background-color: #2d2d2d;
    color: #E0DDCF;
    border-radius: 5px;
    margin: 2em;
    font-weight: 600;
    font-size: 0.90em;
    & strong{
        color: #969595;
        font-size: 1em;
        font-weight: 600;
        font-variant: small-caps;
        border-bottom: 1px solid #E0DDCF;
    }
    & a{
        color: white;
        text-decoration: none;
    }
}

.c-menu{
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-transform:capitalize;
}

.banner-about-me ,
.banner-hobbies ,
.banner-likes{
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    margin:0;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto ;
    color: #F0EDEE;
    text-align: center;
    padding: 3em 0;
    & h1{
        margin: 0;
    }
    & h2{
        color: #E0DDCF;
        font-variant: all-small-caps;
        font-size: 1em;
        margin:0;
    }
}

.banner-about-me{
    background-image: url("../images/timothy-eberly-yuiJO6bvHi4-unsplash.png");
}
.banner-hobbies{
    background-image: url("../images/pierre-bamin-P2POGRtGprA-unsplash.png");
}
.banner-likes{
    background-image: url("../images/rodion-kutsaiev-qCc__FUpEFM-unsplash.png");
}

.footer-links{
    position: fixed;
    bottom: 20px;
    right: 20px;
    list-style-type: none;
    & a{
        text-decoration: none;
        color: #2D232E;
    }
}

table {
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

/* Style table headers */
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: rgba(255, 255, 255, 0.56);
}
td{
    background-color: white;
}

.onbekend{
    background-color: rgba(255, 0, 0, 0.58);
}

.alt td{
    background-color: green;
}




